.margin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 448px;
}

#game {
  margin: 10px auto;
  width: 896px;
  height: 448px;
}
